@if(photos$ | async; as photos)
{
    @if(photos.length > 0)
    {
        <div class="grid grid-cols-4 auto-rows-min gap-4 p-5 h-[65vh] overflow-y-auto">
            @for (item of photos; track $index) {

                <img src="{{ item.url }}" alt="Member Photo" class="w-full rounded-lg shadow-md" />
            }
             @for (item of getPhotoMocks(); track $index) {

                <img src="{{ item.url }}" alt="Member Photo" class="w-full rounded-lg shadow-md" />
            }
        </div>
    }
   @else {
        <div class="text-center text-lg text-gray-500">
            No photos available.
        </div>
    }
}
@else {
    <p>No photos available.</p>
}
